.dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

@media (max-height: 768px) {
  .dashboard-main {
    margin-top: 0px;
  }
}
