.meal-sheet-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 20px;
  height: 100%;
}

.meal-sheet-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-primary);
}
