.bottom-navigator {
  align-self: flex-end;
  margin-top: auto;
  position: relative;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.bottom-navigator-circle {
  width: 46px; /* Circle diameter */
  height: 46px; /* Circle diameter */
  background-color: var(--secondary-color);
  border-radius: 50%; /* Makes the div a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-navigator-child {
  flex: 1; /* Each child will take up an equal portion of the space */
  text-align: center;
  min-height: 1px;
}

.bottom-navigator-left {
  // align-self: flex-start;
  display: flex;
  justify-content: center;
  position: relative;
  // top: -10px;
}

.bottom-navigator-middle {
  display: flex;
  justify-content: center;
  position: relative;
  width: 46px;
  min-height: 1px;
}

.bottom-navigator-list-wrapper {
  // background-color: var(--secondary-color);
  // padding: 10px;
  border-radius: 50%;
}

@media (max-height: 768px) {
  .bottom-navigator {
    padding-bottom: 0px;
  }
}
