.bottom-navigator-wrapper {
  background-color: var(--primary-color);
  height: 100%;
}

.bottom-navigator {
  align-self: flex-end;
  margin-top: auto;
  position: relative;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding-bottom: auto;
  padding-top: 3px;
  display: flex;
  justify-content: space-around;
}

.bottom-navigator-child {
  padding-top: 10px;
  text-align: center;
  min-height: 1px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--primary-color);
}

.buttom-navigator-icon {
  width: 24px;
  height: 24px;
}

.bottom-navigator-selected {
  border-top: 2px solid var(--secondary-color);
}

@media (max-height: 768px) {
  .bottom-navigator {
    padding-bottom: 0px;
  }
}
