.list-servings-sheet-background {
  background-color: var(--background-color);
}

.list-servings-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  width: calc(100% - 20px);
}

.list-servings-sheet-content {
  display: flex;
  flex-direction: column;
}
