.serving {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.serving-icon {
  height: 24px;
  width: auto;
  margin-left: 5px;
  filter: grayscale(30%);
}

.serving-delete-icon {
  padding: 3px;
  border-radius: 8px;
  background-color: white;
  margin-left: 5px;
}

.serving-edit-icon {
  padding: 3px;
  border-radius: 8px;
  background-color: white;
}

.serving-confirm-delete-icon {
  padding: 3px;
  border-radius: 8px;
  background-color: var(--danger);
  stroke: white;
}

.serving-size {
  background-color: var(--secondary-color);
  color: var(--text-contrast);
  padding: 2px 5px 2px 5px;
  margin-left: 10px;
  border-radius: 4px;
}

.serving-note {
  width: 65%;
  margin-left: 10px;
}
