.account {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: calc(100% - 20px);
}

.account-settings-slider-header {
  display: flex;
}

.account-settings-slider-header-text {
  margin-left: 8px;
}

.account-settings-slider {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 1rem;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
}

.slider-value {
  margin-top: 8px;
  align-self: center;
  border-radius: 4px;
  padding: 2px;
  font-size: 1.2rem;
  background-color: var(--secondary-color);
  color: var(--text-contrast);
  padding: 4px;
  padding-left: 6px;
  padding-right: 6px;
  min-width: 35px;
  text-align: center;
}

.settings-logout-button {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: 100%;
  margin-top: 8px;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 1rem;
}
