.account {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: calc(100% - 20px);
}

.settings-logout-button {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: 100%;
  margin-top: 8px;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 1rem;
}

.category-settings-popover-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.category-settings-popover-section-title {
  font-size: 1rem;
  margin-top: 4px;
}
.category-settings-popover-section-text {
  font-size: 0.9rem;
  margin-top: 4px;
  font-weight: 200;
}
