.account {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: calc(100% - 20px);
}

.settings-logout-button {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  width: 100%;
  margin-top: 8px;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  margin-top: 8px;
  font-size: 1rem;
}
